.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  margin-bottom: 2em;
  background-color: #333;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.link_items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}
.link_items li {
  margin-left: 1.3rem;
}

.link_items a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
}
.link_items a:hover {
  border-bottom: 2px solid #fff;
}
